/*  your css code here. If applicable */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
	background-color:lightblue;
	border: 2px solid black;
	width: 200px;
	height: 200px;
	text-align:center;
	justify-content: center;
}

#box span {
    text-align: center; /* Center text horizontally */
    line-height: 200px; /* Set line height equal to box height for vertical centering */
    width: 100%; /* Ensure full width of the box */
}





